Repository geany/geany-plugins, pull requests merged in 2018-03, with the labels that each got.

#695 workbench: support live update. Closes #659.
  workbench/README
  workbench/src/Makefile.am
  workbench/src/dialogs.c
  workbench/src/menu.c
  workbench/src/plugin_main.c
  workbench/src/popup_menu.c
  workbench/src/sidebar.c
  workbench/src/sidebar.h
  workbench/src/wb_monitor.c
  workbench/src/wb_monitor.h
  workbench/src/wb_project.c
  workbench/src/wb_project.h
  workbench/src/workbench.c
  workbench/src/workbench.h
Labels: pending fixes

#696 pohelper: Various fixes and improvements
  pohelper/src/gph-plugin.c
Labels: plugin/pohelper

#724 scope: new-maintainer: LarsGit223
  MAINTAINERS
  scope/src/scope.c
Labels: plugin/scope
