Repository geany/geany-plugins, pull requests merged in 2019-03, with the labels that each got.

#708 geanyctags: use new plugin API
  geanyctags/src/geanyctags.c
Labels: pending fixes, plugin/geanyctags

#836 GeanyVC: Add a commit message history
  geanyvc/src/geanyvc.c
Labels: feature, plugin/geanyvc

#826 scope: fixed "Modify" menu item being active without selection
  scope/src/local.c
Labels: plugin/scope

#831 scope: show error message if no executable is set
  scope/src/debug.c
Labels: plugin/scope

#830 scope: corrected height of "Environment" GtkTextView
  scope/data/scope_gtk3.glade
Labels: plugin/scope
