Repository geany/geany-plugins, pull requests merged in 2019-04, with the labels that each got.

#778 GeanyLua: Fix build warnings (codebrainz's patch)
  configure.ac
  geanylua/glspi_app.c
Labels: plugin/geanylua

#705 defineformat: use new plugin API
  defineformat/src/defineformat.c
Labels: pending fixes, plugin/defineformat

#707 devhelp: use new plugin API
  devhelp/src/dhp-plugin.c
  devhelp/src/dhp-plugin.h
Labels: pending fixes, plugin/devhelp

#844 Fix "Cim" typo in German translation
  po/de.po
Labels: Translations
