Repository geany/geany-plugins, pull requests merged in 2019-07, with the labels that each got.

#517 lineoperations: fixed -Werror=aggregate-return
  lineoperations/src/lineoperations.c
Labels: pending fixes, plugin/lineoperations

#864 treebrowser: fixed deprecated gtk calls for gtk3
  build/treebrowser.m4
  treebrowser/src/Makefile.am
  treebrowser/src/treebrowser.c
Labels: gtk3, plugin/treebrowser

#880 UpdateChecker: Use new service URL
  updatechecker/src/updatechecker.c
Labels: plugin/updatechecker

#823 scope: Improved evaluation on-hover
  scope/src/Makefile.am
  scope/src/tests/unittests.c
  scope/src/tests/utils_test.c
  scope/src/tooltip.c
  scope/src/utils.c
  scope/src/utils.h
Labels: plugin/scope, review needed

#827 scope: prevent usage of invalid iters (GtkTreeeIter)
  scope/src/break.c
  scope/src/inspect.c
  scope/src/local.c
  scope/src/memory.c
  scope/src/menu.c
  scope/src/register.c
  scope/src/stack.c
  scope/src/store/scptreestore.c
  scope/src/thread.c
Labels: plugin/scope, review needed

#860 lineoperations: remove every n-th line
  lineoperations/README
  lineoperations/src/linefunctions.c
  lineoperations/src/linefunctions.h
  lineoperations/src/lineoperations.c
  po/POTFILES.in
Labels: feature, plugin/lineoperations

#878 Devhelp: Fix embedded library's use of glib-genmarshal
  devhelp/devhelp/Makefile.am
Labels: build system, plugin/devhelp

#884 Added additional color format to ao_colortip.c in "Addons"
  addons/src/ao_colortip.c
Labels: enhancement, plugin/addons

#879 workbench: added option to let git decide which files to display
  build/workbench.m4
  utils/src/filelist.c
  utils/src/filelist.h
  workbench/README
  workbench/src/Makefile.am
  workbench/src/dialogs.c
  workbench/src/dialogs.h
  workbench/src/plugin_main.c
  workbench/src/popup_menu.c
  workbench/src/utils.c
  workbench/src/utils.h
  workbench/src/wb_project.c
  workbench/src/wb_project.h
Labels: feature, plugin/workbench

#888 workbench: added short history to README
  workbench/README
Labels: plugin/workbench

#883 Added macros to ao_colortip.c in "Addons"
  addons/src/ao_colortip.c
Labels: enhancement, plugin/addons

#177 geanyprj: small code cleaning
  geanyprj/src/project.c
Labels: plugin/geanyprj

#889 lineoperations: added keybindings. See #832.
  lineoperations/src/lineoperations.c
Labels: enhancement, plugin/lineoperations
