Repository geany/geany-plugins, pull requests merged in 2021-09, with the labels that each got.

#1106 Fixed a crash of geany by the git-changebar on SCI_ADDTEXT
  geanylua/glspi_sci.c
  geanymacro/src/geanymacro.c
  geanynumberedbookmarks/src/geanynumberedbookmarks.c
  git-changebar/src/gcb-plugin.c
Labels: bug, plugin/git-changebar

#1107 Windows full cross build and switch to x86_64+GTK3
  build/geany-plugins.ico
  build/geany-plugins.nsi
  build/gtk-bundle-from-msys2.sh
Labels: Windows

#1087 Replace Sourceforge references
  geanyprj/README
  latex/doc/latex.html
Labels: plugin/geanylatex, plugin/geanyprj

#1108 SpellCheck: Add notes about maintaining personal dictionaries
  spellcheck/README
Labels: plugin/spellcheck

#1105 vimode: add some more ex commands
  vimode/README
  vimode/src/Makefile.am
  vimode/src/cmd-params.c
  vimode/src/cmds/excmds.c
  vimode/src/cmds/excmds.h
  vimode/src/excmd-params.h
  vimode/src/excmd-runner.c
  vimode/src/excmds/excmds.c
Labels: plugin/vimode

#1104 vimode: Add special handling to include destination char for some commands
  vimode/src/cmd-runner.c
Labels: plugin/vimode

#1103 vimode: fix line operation problems when NL is missing at EOF
  vimode/src/cmds/edit.c
Labels: plugin/vimode

#1102 vimode: Enable '.' to also repeat last inserted text
  vimode/src/cmd-runner.c
  vimode/src/context.h
  vimode/src/vi.c
Labels: plugin/vimode

#1100 vimode: Ignore special command handling in insert mode
  vimode/src/cmd-runner.c
Labels: plugin/vimode

#1099 vimode: ignore key-presses containing command on macOS
  vimode/src/keypress.c
Labels: plugin/vimode

#1098 Geany ctags fixes
  geanyctags/src/geanyctags.c
  geanyctags/src/readtags.c
  geanyctags/src/readtags.h
Labels: plugin/geanyctags
