Repository geany/geany-plugins, pull requests merged in 2022-01, with the labels that each got.

#1140 Remove GTK2 jobs from Travis CI
  .travis.yml
Labels: build system

#1151 Windows: libxml2 is now bundled in Geany itself
  build/geany-plugins.nsi
  build/gtk-bundle-from-msys2.sh
Labels: Windows

#1125 Project Organizer: Use system trash for file/folder removal
  projectorganizer/src/prjorg-utils.c
Labels: plugin/projectorganizer

#1157 GeanyLua: Add geany.settype()
  geanylua/docs/geanylua-ref.html
  geanylua/glspi_doc.c
  geanylua/keywords.list
Labels: plugin/geanylua
