Repository geany/geany-plugins, pull requests merged in 2022-04, with the labels that each got.

#1161 SpellCheck: Sync toggle via keybinding and button
  spellcheck/src/gui.c
  spellcheck/src/scplugin.c
Labels: plugin/spellcheck

#1040 Addons: Bookmarks: Prevent duplicating bookmarks when editing line
  addons/src/ao_bookmarklist.c
Labels: bug, plugin/addons

#1025 GeanyVC: Support the use of external diff-tool in directory context
  geanyvc/src/geanyvc.c
  geanyvc/src/geanyvc.h
Labels: plugin/geanyvc

#1028 GeanyVC:(Git) Fallback to `git rev-parse` for getting the repo/worktree's top directory
  geanyvc/src/vc_git.c
Labels: plugin/geanyvc
