Repository geany/geany-plugins, pull requests merged in 2023-10, with the labels that each got.

#1154 geanypg: Update to Scintilla 5.1.5 SCI_GETSELTEXT change
  geanypg/src/helper_functions.c
Labels: plugin/geanypg

#1278 Fix ci version parser
  build/ci_mingw64_geany_plugins.sh
Labels: build system

#1281 GitChangebar: disable Scintilla's Change History in diff tooltip
  git-changebar/src/gcb-plugin.c
Labels: bug, plugin/git-changebar

#1277 Spellecheck: Update style mappings
  configure.ac
  spellcheck/src/scplugin.c
  spellcheck/src/speller.c
Labels: enhancement, plugin/spellcheck

#1286 lineoperations: Fix translation of some strings
  lineoperations/src/lineoperations.c
  lineoperations/src/lo_fns.c
  lineoperations/src/lo_prefs.c
Labels: i18n/l10n, plugin/lineoperations

#1287 Small update of the French translation
  po/fr.po
Labels: i18n/l10n
