Repository geany/geany-plugins, pull requests merged in 2023-05, with the labels that each got.

#1137 vimode: Set default height of excmd popup to a small number
  vimode/src/excmd-prompt.c
Labels: plugin/vimode

#1141 vimode: fix escape not working when numlock is on
  vimode/src/keypress.c
Labels: plugin/vimode

#1139 vimode: Fix caret position change when performing line operations
  vimode/src/cmds/edit.c
Labels: plugin/vimode

#1122 Project Organizer: Set header filetype to match source filetype
  projectorganizer/src/prjorg-main.c
  projectorganizer/src/prjorg-menu.c
  projectorganizer/src/prjorg-project.c
  projectorganizer/src/prjorg-project.h
  projectorganizer/src/prjorg-utils.c
  projectorganizer/src/prjorg-utils.h
Labels: plugin/projectorganizer

#1126 Project Organizer: Add option to open current folder in file manager and terminal
  projectorganizer/src/prjorg-menu.c
  projectorganizer/src/prjorg-project.h
  projectorganizer/src/prjorg-sidebar.c
  projectorganizer/src/prjorg-sidebar.h
Labels: plugin/projectorganizer

#1144 projectorganizer: Restore tree state in the sidebar
  projectorganizer/src/prjorg-main.c
  projectorganizer/src/prjorg-project.c
  projectorganizer/src/prjorg-project.h
  projectorganizer/src/prjorg-sidebar.c
  projectorganizer/src/prjorg-sidebar.h
Labels: plugin/projectorganizer

#1201 Add mingw-w64 (Windows) CI build
  .github/workflows/build.yml
  build/ci_mingw64_geany_plugins.sh
  build/gtk-bundle-from-msys2.sh
Labels: Windows, build system
