Repository geany/geany-plugins, pull requests merged in 2024-06, with the labels that each got.

#1352 Windows: Compile GLib schemas after installation
  build/geany-plugins.nsi
  build/gtk-bundle-from-msys2.sh
Labels: Windows

#1360 Spellcheck: remove obsolete gtk check version
  spellcheck/src/gui.c
Labels: plugin/spellcheck

#1355 projectorganizer: Use GtkFileChooserNative when configured in Geany
  projectorganizer/src/prjorg-sidebar.c
Labels: plugin/projectorganizer

#1342 geniuspaste: Port to libsoup3 (and avoid GTK3 deprecations)
  .github/workflows/build.yml
  build/ci_mingw64_geany_plugins.sh
  build/geniuspaste.m4
  build/gtk-bundle-from-msys2.sh
  geniuspaste/README
  geniuspaste/TODO
  geniuspaste/data/Makefile.am
  geniuspaste/data/dpaste.com.conf
  geniuspaste/data/dpaste.org.conf
  geniuspaste/data/fpaste.org.conf
  geniuspaste/data/paste.debian.net.conf
  geniuspaste/data/pastebin.geany.org.conf
  geniuspaste/data/sprunge.us.conf
  geniuspaste/src/geniuspaste.c
Labels: plugin/geniuspaste

#1358 Addons: Remove obsolete GTK_CHECK_VERSION checks
  addons/src/addons.c
  addons/src/ao_doclist.c
  addons/src/ao_systray.c
Labels: plugin/addons

#1359 Addons: Hide status icon on startup until Geany has started
  addons/src/ao_systray.c
Labels: bug, plugin/addons

#1324 Windows installer: Prefer Geany installation directory over user's HOME
  build/geany-plugins.nsi
Labels: bug, Windows
