Repository geany/geany-plugins, pull requests merged in 2024-05, with the labels that each got.

#1346 Enhance cppcheck usage, fix CI and fix reported errors
  .github/workflows/build.yml
  addons/src/ao_tasks.c
  build/cppcheck-geany-plugins.cfg
  build/cppcheck.mk
  geanyctags/src/geanyctags.c
  geanygendoc/src/ggd-options.c
  geanyprj/src/Makefile.am
  geanyprj/src/utils.c
  geniuspaste/src/geniuspaste.c
  git-changebar/src/gcb-plugin.c
  markdown/src/conf.c
  scope/src/Makefile.am
  scope/src/debug.c
  treebrowser/src/Makefile.am
  treebrowser/src/treebrowser.c
  vimode/src/cmd-runner.c
  workbench/src/sidebar.c
  workbench/src/wb_project.c
  workbench/src/workbench.c
Labels: build system

#1348 geanyctags, projectorganizer, vimode: Some README and URL updates
  geanyctags/README
  projectorganizer/README
  projectorganizer/src/prjorg-main.c
  vimode/README
  vimode/src/backends/backend-geany.c
Labels: plugin/geanyctags, plugin/projectorganizer, plugin/vimode

#1339 codenav/goto_file: Fix use-after-free crash
  codenav/src/goto_file.c
Labels: bug, plugin/codenav

#1338 vimode: Handle folded lines correctly
  vimode/src/cmd-runner.c
  vimode/src/cmds/motion.c
  vimode/src/excmd-runner.c
  vimode/src/utils.c
  vimode/src/utils.h
Labels: plugin/vimode

#1328 Vimode: fix cursor position after using undo
  vimode/src/Makefile.am
  vimode/src/cmds/edit.c
  vimode/src/cmds/excmds.c
  vimode/src/cmds/undo.c
  vimode/src/cmds/undo.h
  vimode/src/context.h
  vimode/src/utils.c
  vimode/src/vi.c
Labels: plugin/vimode

#1353 ProjectOrganizer, Workbench: Use GStatBuf for "g_stat()" calls
  projectorganizer/src/prjorg-project.c
  workbench/src/tm_control.c
Labels: plugin/projectorganizer, plugin/workbench
