Repository geany/geany-plugins, pull requests merged in 2024-04, with the labels that each got.

#1294 Fix handling of locals
  geanygendoc/data/filetypes/c.conf
  geanygendoc/docs/manual.rst
  geanygendoc/src/ggd-tag-utils.c
  geanygendoc/src/ggd.c
Labels: enhancement, bug, plugin/geanygendoc

#1332 vimode: eliminate a warning
  vimode/src/backends/backend-viw.c
Labels: plugin/vimode

#1333 geanyctags: Use g_pattern_spec_match_string() instead of g_pattern_match_string()
  geanyctags/src/geanyctags.c
Labels: plugin/geanyctags

#1334 projectorganizer: Use g_pattern_spec_match_string() instead of g_pattern_match_string()
  projectorganizer/src/prjorg-project.c
  projectorganizer/src/prjorg-sidebar.c
  projectorganizer/src/prjorg-utils.c
  projectorganizer/src/prjorg-utils.h
Labels: plugin/projectorganizer

#1232 Markdown: Modify replace_all to avoid infinite loop
  markdown/src/viewer.c
Labels: bug, plugin/markdown

#1295 Various small WebHelper improvements
  build/webhelper.m4
  webhelper/README
  webhelper/src/gwh-browser.c
  webhelper/src/gwh-browser.h
  webhelper/src/gwh-keybindings.h
  webhelper/src/gwh-plugin.c
  webhelper/src/gwh-settings.c
Labels: enhancement, plugin/webhelper

#1310 CI: Download, compile and use latest cppcheck version
  .github/workflows/build.yml
Labels: build system

#1344 Fix CPP CMake option capitalization
  .github/workflows/build.yml
Labels: build system

#1343 latex: improve readme
  geanymacro/ABOUT
  geanynumberedbookmarks/ABOUT
  latex/ABOUT
  latex/README
Labels: plugin/geanylatex
