Repository geany/geany-plugins, pull requests merged in 2025-04, with the labels that each got.

#1419 cppcheck: Disable nullPointerOutOfMemory check
  build/cppcheck-geany-plugins.suppressions
  build/cppcheck.mk
Labels: build system

#1234 GeanyLua: Fix geany.activate()
  geanylua/docs/geanylua-ref.html
  geanylua/glspi_doc.c
Labels: plugin/geanylua

#1421 lsp: Update to the latest version from the geany-lsp project
  lsp/README
  lsp/data/lsp.conf
  lsp/src/lsp-main.c
  lsp/src/lsp-server.c
  lsp/src/lsp-server.h
Labels: plugin/lsp
