Repository geany/geany-plugins, pull requests merged in 2025-05, with the labels that each got.

#1427 geanyctags: Fix navigation queue
  geanyctags/src/geanyctags.c
Labels: plugin/geanyctags

#1432 projectorganizer: Add preferences for open file manager and terminal commands
  po/POTFILES.in
  projectorganizer/src/prjorg-main.c
  projectorganizer/src/prjorg-menu.c
  projectorganizer/src/prjorg-project.h
  projectorganizer/src/prjorg-sidebar.c
  projectorganizer/src/prjorg-sidebar.h
  projectorganizer/src/prjorg-utils.c
  projectorganizer/src/prjorg-utils.h
Labels: plugin/projectorganizer

#1439 geanyctags: Suppress a cppcheck warning
  geanyctags/src/readtags.c
Labels: plugin/geanyctags

#1434 Use standard gettext, following Geany core - continued
  .github/workflows/build.yml
  .gitignore
  Makefile.am
  autogen.sh
  build/ci_mingw64_geany_plugins.sh
  build/common.m4
  build/i18n.m4
  build/vars.build.mk
  configure.ac
  geanylua/autogen.sh
  po/LINGUAS
  po/Makevars
  po/POTFILES.in
  po/Rules-gmo
  po/be.po
  po/ca.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/gl.po
  po/it.po
  po/ja.po
  po/kk.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  treebrowser/src/treebrowser.c
Labels: build system
