Repository geany/geany-plugins, pull requests merged in 2025-06, with the labels that each got.

#1446 LSP: Load project settings when plugin initialized
  lsp/src/lsp-main.c
Labels: plugin/lsp

#1431 workbench: Fix crash when a monitored entry is removed
  workbench/src/wb_monitor.c
Labels: bug, plugin/workbench

#1450 lsp, projectorganizer: Fix translator comments
  lsp/src/lsp-goto-anywhere.c
  projectorganizer/src/prjorg-goto-anywhere.c
Labels: plugin/projectorganizer, Translations, plugin/lsp

#1451 lsp: Fix incremental synchronization with multi-byte characters
  lsp/src/lsp-sync.c
Labels: plugin/lsp

#1449 French translation update
  po/fr.po
Labels: Translations

#1453 LSP: Remove keybindings for goto definition/declaration
  lsp/src/lsp-main.c
Labels: plugin/lsp

#1454 codenav: Fix crash caused by missing NULL check
  codenav/src/codenavigation.c
Labels: plugin/codenav

#1457 LSP: fix codeAction/resolve
  lsp/src/lsp-command.c
  lsp/src/lsp-command.h
Labels: plugin/lsp

#1455 Fix crash with unloaded WebKit-using plugins
  markdown/src/plugin.c
  webhelper/src/gwh-browser.c
  webhelper/src/gwh-plugin.c
  webhelper/src/gwh-plugin.h
Labels: plugin/webhelper, markdown
